<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="/CSS/header.css" />
    <link rel="stylesheet" href="/CSS/caja1.css" />
    <link rel="stylesheet" href="/CSS/footer.css" />
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/efecb5d88a.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <div class="logosearch">
          <a href="./views/home.html"><img src="/Img/logo.svg" class="logo" /></a>
        <nav class="busqueda">
          <input type="text" placeholder="Buscar productos, marcas y mas...">
        </nav>
      </div>
      <div class="copy-header-full">
        <div class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Compra en cuotas y sin tarjeta de credito
        </div>
      </div>
      </div>
      <div class="copy-header-full-phone">
        <div class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Compra en cuotas y sin tarjeta de credito
        </div>
      </div>
      <div class="burgerbox">
      <a href="*" class="burger-menu">
        <i class="fa-solid fa-bars"></i>
      </a>
    </div>
      <nav class="main-header-bottom-bar">
        <ul class="left-navbar">
          <li><a href="./ofertas.html">Ofertas</a></li>
          <li><a href="./tienda.html">Tiendas Oficiales</a></li>
          <li><a href="./Vender.html">Vender</a></li>
          <li><a href="./Ayuda.html">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
          <li>
            <a href="../views/tucuenta.html"
              >Crea tu Cuenta <i class="fa-sharp fa-solid fa-address-card"></i
            ></a>
          </li>
          <li>
            <a href="../views/ingresa.html"
              >Ingresa <i class="fa-solid fa-right-to-bracket"></i  
            ></a>
          </li>
          <li>
            <a href="../views/compras.html"
              >Mis Compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
      </nav>
      <img class="bannerimg" src="/Img/banner.jpg" />
    </header>
    
    <main>
        
      
      <ul>
        <li class="titulos"><h3>Sección: Basado en tu última visita</h3></li>
      </ul>
      <div class="just">
      <div class="cajadecaja">
      <div class="caja-completa">
        <img  class="imagen" src="/Img/cafetera.jpg" />
        <div class="posicioncamion">
        <div class="camion"><i class="fa-solid fa-truck"></i></div>
      </div>
        <div class="caja1">
          <div class="listasCaja1">
          <div class="PyC">
          <div class="precios">$6.770</div>
          <div class="descuentos">40% off</div>
        </div>
          <li class="producto">Cafetera Moulinex</li>
          </div>
        </div>
      </div>
      <div class="caja-completa">
        <img class="imagen" src="/Img/mac.jpg" />
        <div class="posicioncamion">
        <div class="camion"><i class="fa-solid fa-truck"></i></div>
      </div>
      <div class="caja1">
        <div class="listasCaja1">
        <div class="PyC">
        <div class="precios">$6.770</div>
        <div class="descuentos">40% off</div>
      </div>
        <li class="producto">Cafetera Moulinex</li>
        </div>
      </div>
      </div>
      <div class="caja-completa">
        <img class="imagen" src="/Img/sam.jpg"  />
        <div class="posicioncamion">
        <div class="camion"><i class="fa-solid fa-truck"></i></div>
      </div>
      <div class="caja1">
        <div class="listasCaja1">
        <div class="PyC">
        <div class="precios">$6.770</div>
        <div class="descuentos">40% off</div>
      </div>
        <li class="producto">Cafetera Moulinex</li>
        </div>
      </div>
      </div>
      <div class="caja-completa">
        <img class="imagen" src="/Img/tv.jpg" />
        <div class="posicioncamion">
        <div class="camion"><i class="fa-solid fa-truck"></i></div>
      </div>
      <div class="caja1">
        <div class="listasCaja1">
        <div class="PyC">
        <div class="precios">$6.770</div>
        <div class="descuentos">40% off</div>
      </div>
        <li class="producto">Cafetera Moulinex</li>
        </div>
      </div>
      </div>
      
    </div>
  </div>  



  </div>
      <div>
        <ul>
          <li class="titulos"><h3>Sección: Basado en tu última visita</h3></li>
        </ul>
      </div>
      <div class="just">
        <div class="cajadecaja">
        <div class="caja-completa">
          <img  class="imagen" src="/Img/cafetera.jpg" />
          <div class="posicioncamion">
          <div class="camion"><i class="fa-solid fa-truck"></i></div>
        </div>
          <div class="caja1">
            <div class="listasCaja1">
            <div class="PyC">
            <div class="precios">$6.770</div>
            <div class="descuentos">40% off</div>
          </div>
            <li class="producto">Cafetera Moulinex</li>
            </div>
          </div>
        </div>
        <div class="caja-completa">
          <img class="imagen" src="/Img/mac.jpg" />
          <div class="posicioncamion">
          <div class="camion"><i class="fa-solid fa-truck"></i></div>
        </div>
        <div class="caja1">
          <div class="listasCaja1">
          <div class="PyC">
          <div class="precios">$6.770</div>
          <div class="descuentos">40% off</div>
        </div>
          <li class="producto">Cafetera Moulinex</li>
          </div>
        </div>
        </div>
        <div class="caja-completa">
          <img class="imagen" src="/Img/sam.jpg"  />
          <div class="posicioncamion">
          <div class="camion"><i class="fa-solid fa-truck"></i></div>
        </div>
        <div class="caja1">
          <div class="listasCaja1">
          <div class="PyC">
          <div class="precios">$6.770</div>
          <div class="descuentos">40% off</div>
        </div>
          <li class="producto">Cafetera Moulinex</li>
          </div>
        </div>
        </div>
        <div class="caja-completa">
          <img class="imagen" src="/Img/tv.jpg" />
          <div class="posicioncamion">
          <div class="camion"><i class="fa-solid fa-truck"></i></div>
        </div>
        <div class="caja1">
          <div class="listasCaja1">
          <div class="PyC">
          <div class="precios">$6.770</div>
          <div class="descuentos">40% off</div>
        </div>
          <li class="producto">Cafetera Moulinex</li>
          </div>
        </div>
        </div>
        
      </div>
    </div>  
  </div>
    </main>
    <footer>
      <div class="general">
      <div class="cajasdetext">
        <p class="icono"><i class="fa-sharp fa-solid fa-credit-card"></i></p>
      <h3 class="h3footer">Pagá con tarjeta o en efectivo</h3>
      <p class="pfooter">
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>
    </div>
    <div class="cajasdetext">
      <p class="icono"><i class="fa-solid fa-gift"></i></p>
      <h3 class="h3footer">Envío gratis desde $ 2.500</h3>
      <p class="pfooter">
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>
    </div>
    <div class="cajasdetext">
      <p class="icono"><i class="fa-solid fa-user-shield"></i></p>
      <h3 class="h3footer">Seguridad, de principio a fin</h3>
      <p class="pfooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </div>
  </div>
    <div class="cajafinal">
      <h3 class="h3footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </div>
    </footer>
  </body>
</html>
