<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../public/css/style.css" />
        <link rel="stylesheet" href="../public/css/header.css" />
        <meta name="viewport" content="width = device-width, initial-scale = 1" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"
          rel="stylesheet"
        />
        <script
          src="https://kit.fontawesome.com/efecb5d88a.js"
          crossorigin="anonymous"
        ></script>
        <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet"
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index</title>
      </head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
          <div class="logosearch">
          <img src="../public/img/logo.svg" class="logo" />
          <nav class="busqueda">
            <input type="text" placeholder="Buscar productos, marcas y mas...">
          </nav>
        </div>
        <div class="copy-header-full">
          <div class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Compra en cuotas y sin tarjeta de credito
          </div>
        </div>
        </div>
        <div class="copy-header-full-phone">
          <div class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Compra en cuotas y sin tarjeta de credito
          </div>
        </div>
        <div class="burgerbox">
        <a href="*" class="burger-menu">
          <i class="fa-solid fa-bars"></i>
        </a>
      </div>
        <nav class="main-header-bottom-bar">
          <ul class="left-navbar">
            <li><a href="./views/ofertas.html">Ofertas</a></li>
            <li><a href="./views/tienda.html">Tiendas Oficiales</a></li>
            <li><a href="./views/Vender.html">Vender</a></li>
            <li><a href="./views/Ayuda.html">Ayuda</a></li>
          </ul>
  
          <ul class="right-navbar">
            <li>
              <a href="./views/tucuenta.html"
                >Crea tu Cuenta <i class="fa-sharp fa-solid fa-address-card"></i
              ></a>
            </li>
            <li>
              <a href="./views/Ingresa.html"
                >Ingresa <i class="fa-solid fa-right-to-bracket"></i
              ></a>
            </li>
            <li>
              <a href="./views/Compras.html"
                >Mis Compras <i class="fa-solid fa-basket-shopping"></i
              ></a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <form action="/una-ruta-local" method="post"></form>







      </main>
</body>
</html>